<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://x.com/stayvistara" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://instagram.com/stayvistara" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="https://youtube.com/@stayvistara" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://github.com/shubhamv-codes/vistara" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-github"></i>
            </a>
        </div>

        <div class="f-info-brand"> &copy; Vistara Pvt. Ltd</div>

        <div class="f-info-links">
            <a href="/privacy"> Privacy </a>
            <a href="/terms"> Terms </a>
        </div>
    </div>
</footer>