<% layout("/layouts/boilerplate") %>
 
  <body>
    <div class="container-fluid px-4 mt-4">
      <h3 class="index-heading text-center mb-4">All Listings</h3>

      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
        <% for(let listing of allListings) { %>
          <a href="/listings/<%= listing._id %>" class="listing-links">
            <div class="card col listing-card">
              <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height:20rem">
              <div class="card-img-overlay"></div>
              <div class="card-body">
                <div class="listing-title">
                  <b>
                    <%= listing.title %>
                  </b>
                </div>
                <div class="listing-price">
                  ₹ <%= listing.price.toLocaleString("en-IN") %> / night
                </div>
              </div>
            </div>
          </a>
          <% } %>
      </div>
    </div>
  </body>